.stake {
  width: 100%;
  background: linear-gradient(90deg, #0c0c0c 100%, rgba(0, 0, 0, 0) 60%);
  padding-bottom: 70px;
  .stakeContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    h1 {
      color: white;
      font-size: 40px;
      padding: 40px 0;
      margin: 0 auto;
    }

    .stakingDesc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      p {
        color: white;

        .Link {
          color: #fff;
          font-size: 20.964px;
          font-family: "Rubik", sans-serif;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
          list-style: none;
          text-decoration: none;

          display: none;

          &:hover {
            color: #ffa503;
            text-decoration: underline;
          }
        }
      }
    }

    .stakingCards {
      width: 100%;
      //   position: relative;
      //   display: flex;
      .box {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: white solid 0.5px;
        width: 95% !important;
        border-radius: 19px;
        // background: linear-gradient(90deg, #0c0c0c 100%, rgba(0, 0, 0, 0) 60%);
        .product {
          //   background: #fff;
          border-radius: 8px;
          box-shadow: 0 1px 3px rgb(3 0 71/9%);
          margin: 10px;
          padding: 20px;
          position: relative;

          .img {
            .discount {
              background: #ffa503;
              border-radius: 50px;
              color: #fff;
              font-size: 14px;
              left: 0;
              margin: 10px;
              padding: 3px 10px;
              position: absolute;
              top: 0;
            }

            .imageCon {
              height: 300px;
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }

            .product-like {
              margin: 10px;
              opacity: 0;
              position: absolute;
              right: 0;
              top: 0;
              transition: 0.5s;

              label {
                background-color: #0f3460;
                border-radius: 50px;
                color: #fff;
                font-size: 12px;
                padding: 1px 10px;
              }

              i {
                font-size: 20px;
                margin: 10px 3px;
              }
            }
          }

          .product-details {
            h3 {
              font-size: 17px;
              font-weight: 400;
              text-transform: capitalize;
              color: #ffa503;
            }

            .text {
              //   color: #ffa503;
              color: white;
              display: flex;
              flex-direction: column;
              //   justify-content: space-between;

              .price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100px;

                .priceTag {
                  // text-align: center;
                  h3 {
                    font-weight: 200;
                    font-size: 13px;
                    color: #fff;
                  }

                  h4 {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 900;

                    img {
                      width: 20px;
                      height: 20px;
                      margin: 0 5px;
                    }
                  }
                }
              }

              button {
                margin: 0 auto;
                padding: 15px;
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 30px;
                background-color: #ffa703;
                color: #fff;
                font-size: 17px;
                cursor: pointer;

                i {
                  margin: 0;
                  padding: 0;
                  //   color: #0c0c0c;
                }

                span {
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }

      .modal {
        background-color: rgba(7, 7, 7, 0.7);
        bottom: 0px;
        height: 100vh;
        left: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        z-index: 300;
        // margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        .showConnect {
          // width: 100%;
          height: 50%;
          position: absolute;
          // top: 0;
          // left: 0;
          // opacity: 0.7;
          z-index: 1000;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          background-color: rgb(255, 255, 255);
          flex-direction: column;
          // position: relative;
          //   text-align: left;
          //   width: 450px;
          border-radius: 30px;
          padding: 34px 60px;
          // height: 80%;
          width: 30%;
          // height: 90%;

          transition: transform 0.3s ease-in-out;

          .close {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            font-size: 30px;
            cursor: pointer;
            color: #ffa503;
            top: 0;
            right: 0;
            padding: 40px;
            position: absolute;
          }

          .connect {
            background: #fff;
            // height: 30%;
            // width: 100%;
            margin: 0 auto;
            &:hover {
              // background: #ffa503;
            }
          }
        }

        .modalContainer {
          background-color: rgb(255, 255, 255);
          flex-direction: column;
          // position: relative;
          //   text-align: left;
          //   width: 450px;
          border-radius: 30px;
          padding: 34px 60px;
          // height: 80%;
          width: 30%;
          // height: 90%;

          display: flex;
          align-items: center;
          transition: transform 0.3s ease-in-out;

          .close {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            font-size: 30px;
            cursor: pointer;
            color: #ffa503;
          }
          .imageCon {
            margin: 0 auto;
            height: 250px;
            // border-radius: 30px;
            // top: -50px;
            // position: absolute;

            img {
              height: 100%;
              border-radius: 50%;
            }
          }

          .content {
            margin: 0 auto;
            // margin-top: 250px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

            h1 {
              font-size: 30px;
              font-weight: 700;
              margin-bottom: 20px;
              color: #0c0c0c;
              text-transform: uppercase;
              margin: 0;
              padding-top: 15px;
              padding-bottom: 0;
              font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            }

            p {
              font-size: 12px;
              font-weight: 300;
              margin-bottom: 20px;
              text-transform: capitalize;
              text-align: justify;
            }

            span {
              font-size: 14px;
              font-weight: 800;
              text-transform: capitalize;
              text-align: justify;
              align-items: flex-start;
              width: 100%;
            }

            .price {
              width: 100%;
              font-size: 15px;
              font-weight: 400;
              margin-bottom: 20px;
              color: #0c0c0c;
              text-transform: capitalize;
              margin: 0;
              display: flex;
              justify-content: space-between;
              padding-top: 20px;

              .priceTag {
                h3 {
                  font-weight: 200;
                  font-size: 15px;
                  color: #0c0c0c;
                  margin: 0;
                }
                h4 {
                  display: flex;
                  align-items: center;
                  font-size: 18px;
                  font-weight: 900;
                  margin: 5px 0;

                  img {
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                  }
                }
              }
            }
          }

          .stakeForm {
            width: 100%;

            form {
              width: 100%;
              display: flex;
              margin: 0 auto;
              flex-direction: column;
              gap: 20px;

              .inputCon {
                margin: 0 auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                .input {
                  display: flex;
                  // flex-direction: column;
                  // gap: 5px;
                  align-items: center;

                  label {
                    width: 20%;
                    align-items: center;
                  }
                  input {
                    padding: 7px;
                    border: 1px solid #ffa503;
                    border-radius: 7px;
                  }
                }
              }

              button {
                // width: 40%;
                margin: 0 auto;
                padding: 15px;
                font-size: 18px;
                font-weight: 400;
                border-radius: 30px;
                background-color: #ffa703;
                color: #fff;
                cursor: pointer;
                transition: 0.5s;
                border: 20px solid #fff;
              }
            }
          }
        }

        .slide-out {
          transform: translateX(-200%); /* Content slides out to the left */
        }

        .slide-in {
          transform: translateX(0); /* Content slides in from the right */
        }
      }

      .loader {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        opacity: 0.7;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.control-btn {
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    // line-height: 60px;
    background: #ffa503;
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;

    right: -20px;

    i {
      font-size: 20px;
      transition: 0.5s;
      color: white;
    }
  }

  .prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    // line-height: 60px;
    background: #ffa503;
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;

    left: -20px;

    i {
      font-size: 20px;
      transition: 0.5s;
      color: white;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .stake {
    .stakeContainer {
      h1 {
        font-size: 35px;
        text-align: center;
        padding: 20px 0;
      }
      .stakingCards {
        .modal {
          .showConnect {
            width: 60%;
            border-radius: 10px;
          }
          .modalContainer {
            width: 60%;
            border-radius: 10px;
            // height: 90%;

            .imageCon {
              height: 170px;
            }
            .content {
              h1 {
                font-size: 20px;
              }
              p {
                font-size: 11px;
              }
            }

            .price {
              font-size: 13px;
            }

            .stakeForm {
              form {
                gap: 10px;
                button {
                  margin-bottom: 0;
                  // padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .stake {
    .stakeContainer {
      .stakingCards {
        .modal {
          .showConnect {
            width: 60%;
            padding: 24px 40px;
          }
          .modalContainer {
            width: 60%;
            padding: 24px 40px;
            height: auto;

            .imageCon {
              height: 170px;
            }
            .content {
              h1 {
                font-size: 20px;
              }
              p {
                font-size: 11px;
              }

              .price {
                font-size: 13px;
              }
            }

            .stakeForm {
              form {
                .inputCon {
                  .input {
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .stake {
    .stakeContainer {
      .stakingCards {
        width: 145%;
        margin: 0 auto;
        .box {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: white solid 0.5px;
          width: 90% !important;
          border-radius: 19px;
          // margin: 0 auto;

          .product {
            padding: 3px;
            margin: 7px;
            .img {
              .imageCon {
                height: 150px;

                img {
                  height: 100%;
                  border-radius: 10px;
                  // object-fit: contain;
                }
              }
              .product-like {
                i {
                  font-size: 12px;
                }
              }
            }

            .product-details {
              h3 {
                height: 25px;
              }
              .text {
                .price {
                  .priceTag {
                    h3 {
                      font-size: 10px;
                      font-weight: 800;
                      height: auto;
                    }
                    h4 {
                      font-size: 10px;
                      gap: 0px;
                      img {
                        width: 15px;
                        height: 15px;
                        // margin: 0 5px;
                      }
                    }
                  }
                }

                button {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .modal {
          .showConnect {
            width: 70%;
            padding: 14px 20px;
          }
          .modalContainer {
            width: 70%;
            padding: 14px 20px;
            height: auto;

            .imageCon {
              height: 90px;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .content {
              h1 {
                font-size: 17px;
              }
              p {
                font-size: 10px;
              }

              .price {
                font-size: 10px;
                padding-top: 10px;

                .priceTag {
                  h3 {
                    font-size: 12px;
                  }
                  h4 {
                    font-size: 15px;
                  }
                }
              }
            }

            .stakeForm {
              form {
                .inputCon {
                  .input {
                    justify-content: space-between;

                    input {
                      width: 40%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
